os: Visual Studio 2015

cache:
  - 'C:\Users\appveyor\.cargo'
  - target

matrix:
  allow_failures:
    - channel: nightly

install:
- appveyor-retry appveyor DownloadFile https://win.rustup.rs/ -FileName rustup-init.exe
- rustup-init.exe -y --default-host %target% --default-toolchain %channel%
- set PATH=%PATH%;C:\Users\appveyor\.cargo\bin
- rustc -V
- cargo -V

build_script:
- cmd: cargo build %RELEASE% --verbose

test_script:
- cmd: cargo test --all %RELEASE% --verbose -- --ignored

branches:
  only:
    - master
    - /v\d+\.\d+\.\d+/
environment:
  matrix:
      # Build a release build on master to make sure it builds.
    - channel: stable
      target: x86_64-pc-windows-msvc
      RELEASE: --release
      DEPLOY: true

    - channel: stable
      target: x86_64-pc-windows-msvc
    - channel: beta
      target: x86_64-pc-windows-msvc
    - channel: nightly
      target: x86_64-pc-windows-msvc
    - channel: 1.41.0 # Oldest supported version. Keep in sync with README.md.
      target: x86_64-pc-windows-msvc

deploy_script:
  - ps: |
        $NAME = "rblake2sum-${env:APPVEYOR_REPO_TAG_NAME}-${env:TARGET}"
        New-Item -Path $NAME -ItemType directory
        Copy-Item target/release/rblake2sum.exe "${NAME}/"
        Copy-Item LICENSE-MIT "${NAME}/"
        Copy-Item LICENSE-MPL2 "${NAME}/"
        Copy-Item LICENSE-APACHE "${NAME}/"
        Copy-Item rblake2sum/README.md "${NAME}/"
        7z a -ttar "${NAME}.tar" "${NAME}"
        7z a "${NAME}.tar.gz" "${NAME}.tar"
        (Get-FileHash "${NAME}.tar.gz").Hash | Out-File "${NAME}.tar.gz.sha256" -NoNewline
        Push-AppveyorArtifact "${NAME}.tar.gz" -DeploymentName windep
        Push-AppveyorArtifact "${NAME}.tar.gz.sha256" -DeploymentName windep

deploy:
  - provider: GitHub
    artifact: windep
    auth_token:
      secure: wCfX3C2GdWZbVR69JIDqKnQmrkm2Qylm1d1wJ6bDnqtlMZm+jr2QAB/nL8aS7ww/
    description: ''
    on:
      APPVEYOR_REPO_TAG: true
      DEPLOY: true
    force_update: true
